@import '../../style.module.scss';

.container {
    @include fluid-type(1.5rem, 2.5rem, $breakpoint-small, $breakpoint-large);
    @include flex-column;

    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $contrast-A;





    padding: $spacing-large;
    flex-wrap: wrap;
    gap: $spacing-large;

}