@import './style.module.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    @include box-sizing;
    color: $contrast-A;
}

.App {
    text-align: center;
}